In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
data = pd.read_csv('VIP-X030_1.txt')
data.head()

,VIP'VIP-X030,201907101208,0,000,0.1,000.1,0.2,000.2,0.3,000.3,0.4,0.5,1
0,VIP'VIP-X030,201307121352,88,0,88,100,88,0,88,100,399,35152,1
1,VIP'VIP-X030,201307121353,88,25,88,100,88,0,88,100,175,15418,1
2,VIP'VIP-X030,201307121355,88,125,88,175,88,125,88,125,178,15686,1
3,VIP'VIP-X030,201307121356,88,150,88,200,88,100,88,175,357,31478,1
4,VIP'VIP-X030,201307121357,88,200,88,200,88,150,88,150,47,4143,1

In [3]:
data.shape

(719103, 13)

In [4]:
data.columns = ['Enstruman', 'DateTime', 'O1', 'O2', 'H1', 'H2',
                'L1', 'L2', 'C1', 'C2', 'V1', 'V2', 'Forget']

In [5]:
data['Open'] = data['O1']*1000 + data['O2']
data['High'] = data['H1']*1000 + data['H2']
data['Low'] = data['L1']*1000 + data['L2']
data['Close'] = data['C1']*1000 + data['C2']
data.drop(columns=['O1', 'O2', 'H1', 'H2', 'L1', 'L2', 'C1', 'C2', 'V2',
                   'Forget'], inplace=True)

In [6]:
data.rename(columns={'V1':'Volume'}, inplace=True)
data.drop('Enstruman', axis=1, inplace=True)
data['Quarter'] = data['DateTime'].apply(lambda x: int(x/15))
data.head()

       DateTime  Volume   Open   High    Low  Close      Quarter
0  201307121352     399  88000  88100  88000  88100  13420474756
1  201307121353     175  88025  88100  88000  88100  13420474756
2  201307121355     178  88125  88175  88125  88125  13420474757
3  201307121356     357  88150  88200  88100  88175  13420474757
4  201307121357      47  88200  88200  88150  88150  13420474757

In [7]:
idxOpen = data.groupby('Quarter')['DateTime'].idxmin()
Opens = data.loc[idxOpen, 'Open'].reset_index()
idxClose = data.groupby('Quarter')['DateTime'].idxmax()
Closes = data.loc[idxClose, 'Close'].reset_index()

In [8]:
dataAgg = data.groupby('Quarter').agg({'DateTime':np.min,
                                       'Volume':np.sum,
                                       'High': np.max,
                                       'Low': np.min
                                      })

In [9]:
dataAgg.reset_index(inplace=True)
dataAgg['Open'] = Opens['Open']
dataAgg['Close'] = Closes['Close']

In [10]:
dataAgg['Date'] = dataAgg['DateTime'].apply(lambda x: int(x/10000))
data2 = dataAgg[(dataAgg['DateTime']> 201900000000) & (dataAgg['DateTime'] <201903010000)]

In [11]:
# EVerything is ok
print(data2[data2['High'] < data2['Close']]['Volume'].sum())
print(data2[data2['High'] < data2['Open']]['Volume'].sum())
print(data2[data2['Low'] > data2['Close']]['Volume'].sum())
print(data2[data2['Low'] > data2['Open']]['Volume'].sum())

0
0
0
0

In [12]:
data2['DateTime'].apply(lambda x: str(x))
data2.loc[:,'DateTime'] = pd.to_datetime(data2['DateTime'], format='%Y%m%d%H%M' )
data2.head()

C:\Users\batum\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Quarter,DateTime,Volume,High,Low,Open,Close,Date
52163,13460068062,2019-01-02 09:30:00,5768,117700,117300,117700,117450,20190102
52164,13460068063,2019-01-02 09:45:00,2947,117575,117425,117450,117525,20190102
52165,13460068066,2019-01-02 10:00:00,3351,117675,117500,117525,117600,20190102
52166,13460068067,2019-01-02 10:05:00,4993,117650,117400,117600,117400,20190102
52167,13460068068,2019-01-02 10:20:00,6184,117450,117200,117450,117400,20190102

In [13]:
import datetime
data2.loc[:,'Date'] = data2['DateTime'].dt.date
data2.loc[:,'Time'] = data2['DateTime'].dt.time

C:\Users\batum\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)

In [14]:
data2.loc[:,'High'] = data2['High'] / 1000
data2.loc[:,'Open'] = data2['Open'] / 1000
data2.loc[:,'Low'] = data2['Low'] / 1000
data2.loc[:,'Close'] = data2['Close'] / 1000

In [15]:
data2.shape

(1751, 9)

In [16]:
data2.drop(columns=['Quarter', 'DateTime'], inplace=True)

C:\Users\batum\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [17]:
data2 = data2[['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume']]
data2.head()

             Date      Time     Open     High      Low    Close  Volume
52163  2019-01-02  09:30:00  117.700  117.700  117.300  117.450    5768
52164  2019-01-02  09:45:00  117.450  117.575  117.425  117.525    2947
52165  2019-01-02  10:00:00  117.525  117.675  117.500  117.600    3351
52166  2019-01-02  10:05:00  117.600  117.650  117.400  117.400    4993
52167  2019-01-02  10:20:00  117.450  117.450  117.200  117.400    6184

In [18]:
#data2.to_csv('VIOP.csv')